/* Pagrindiniai pasirinkimai spalvu */
:root {
    --main-background: linear-gradient(
        to right,
        #d4e4eb,
        #8da0a6,
        #43575f
    ); /* Viso Puslapio */
    --navbar-background: #647b86; /* Navigacijos backgroundas */
    --hamburger-menu-background: #4a4c4d; /* Hamburgerio backgroundas islendantis */
    --navbar-text-color: rgba(255, 255, 255, 0.8); /* Navigacijos teksto */
    --navbar-text-hover: rgb(18, 18, 19); /* Navigacijos Hover teksto */
    --navbar-box-hover: rgb(18, 18, 19); /* Navigacijos apdailinimas hover */
    --btn-small: linear-gradient(
        to right,
        #c3d8e1,
        #91a0a4,
        #91a8b3
    ); /* mazo mygtuko spalva background*/
    --btn_delete_hover: linear-gradient(
        to right,
        #7a3333,
        #bb3535,
        #d82f2f
    ); /* delete mygtuko hover */
    --btn_edit_hover: linear-gradient(
        to left,
        #4c9e6c,
        #37b356,
        #51ce2b
    ); /* edit mygtuko hover */
    --btn_show_hover: linear-gradient(
        to right,
        #a89533,
        #c6ab3d,
        #f7c500
    ); /* show mygtuko hover */
    --iconColor: #499bdd93;
    --theadBGcolor: #5d6d73;

    --iconColor: #3e556993;
    /* lenteles box seselis */
    --tableBoxShadow:  rgba(0, 0, 0, 0.15);
    --textWhite: white;
    --textBlack: rgb(255, 255, 255);
    --newsText: rgba(204, 200, 200, 0.49) ;
    --newsHeader: rgba(221, 210, 210, 0.539);
    --formSelect : #ebe3e393;
    --buttonBorder : #4c7785;
    --buttonIcon :  #283539;
    --tableSecondRowBg : #f3f3f3;
    --invalidRed : red;
    --navMenuBorder : #87a8b8;
    --tableDataAhref : #17314e;
    --hamburgerMenuIcon: white;
    --buttonTextColor: #225465;
    --tableHeadHover : #35fddf93;
    --ahrefIcon : rgba(56, 56, 56, 0.3);
    --navbarExpandA : #106b92;
    --theadTfootBG :  #607a83b5;
    --tbodyTr : rgba(126, 118, 118, 0.708);
    --tableContainerOddRow : #becccc;
    --tableContainerH3 : #6094aa;
    --aColor : #003a52;
    --newItemBorder : #d5d5d5;
    --newsItemBoxShadow : inset 0 0 5px #809696, inset 0 0 10px #5a7b7b;
    --loginFormBoxShadow : #23627d47;
    --loginFormH3 : silver;
    --loginText: silver;
    --loginTextLabel : #c0b6b6;
    --loginTextValidInput : #106b92;
    --btn_reg : linear-gradient(to right, #60696d, #4a5b60, #2f424e);
    --btn_regHover : inset 0 0 5px #415050, inset 0 0 10px #6e8080;
    --tableTrasformTrBorder : #467180;
    --tableTransformBoxShadow : 0 0 20px rgba(0, 0, 0, 0.15);
    --tableTransformBackground : #44606b;
    --tableTransformTd : #65767d;
    --tableTransformTdBorder : 1px solid #47585e;
    --buttonsBackForward :  #106b92;
    --tableInsideBorders : #67bde1;
}
#bad_message,
#good_message {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s;
}
#bad_message.hide,
#good_message.hide {
    display: none;
}
table {
    color: rgb(54, 54, 54);
}
.form-select {
    width: 100%;
    height: 40px;
    text-align: center;
    background: var(--formSelect);
    border-radius: 5px;
}
.page-item.active .page-link {
    background-color: rgb(173, 172, 172);
}

.btn_small {
    background: var(--btn-small);
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: none;
    border: 1px solid var(--buttonBorder);
}
/* .navbar .active {
    background-color: #0000;
} */
.btn_small i {
    padding-right: 0px;
    color: var(--buttonIcon);
}
.btn_small:hover i {
    color: var(--textBlack);
}
.flex-container {
    display: flex;
}
.flex-container button {
    margin-left: 5px;
}
.center {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tablerow_bg {
    background-color: var(--tableSecondRowBg);
}
.textCenter{
    text-align: center;
}
.invalid{
    border: 1px solid var(--invalidRed);
}
.btn_edit:hover,
.btn_create:hover {
    background: var(--btn_edit_hover);
}

.btn_show:hover {
    background: var(--btn_show_hover);
}
.btn_delete:hover {
    background: var(--btn_delete_hover);
}

.btn_medium {
    background: var(--btn-small);
    height: 2rem;
    width: 10rem;
    border-radius: 2rem;
    border: none;
    border: 1px solid var(--buttonBorder);
    color: var(--buttonTextColor);
    margin: 5px 0 5px 0;
}
.btn_medium i {
    padding-right: 5px;
    color: var(--buttonIcon);
}
.postShow {
    padding-top: 20px;
}

.btn_large {
    background: var(--btn-small);
    height: 3em;
    width: 50rem;
    border-radius: 2rem;
    border: none;
    border: 1px solid var(--buttonBorder);
    color: var(--buttonTextColor);
    margin: 5px;
}
.btn_large i {
    padding-right: 5px;
    color: var(--buttonIcon);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: var(--main-background);
    font-family: "Gill Sans", "Candara";

}
th a {
    color: var(--textWhite);
}

th a:hover {
    color: var(--tableHeadHover);
    text-decoration: none;
}

.small-grey {
    color: #106b92;
    text-decoration: none;
}

.small-grey i {
    color: #407b94;
}

/* HEADER IMAGE , NAV BAR  */

.logo {
    padding: 20px 0px 5px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    background-color: transparent;
}
header {
    background-color: var(--navbar-background);
}
i {
    padding-right: 5px;
}

a i {
    color: var(--ahrefIcon);
}
.dropDown {
    position: absolute;
    background-color: var(--navbar-background);
}
.dropDown:first-of-type {
    padding-top: 20px;
}
.dropDown li {
    height: 50px;
    align-self: center;
}

li {
    list-style: none;
}
.filter {
    margin-top: 10px;
    padding: 0;
    width: 50%;
    gap: 10px;
    color: var(--navbar-text-color);
    height: auto;
    border-radius: 50px;
}
.filter label {
    margin: 0;
}
.filter th {
    vertical-align: middle;
}

.navbar a {
    display: block;
    color: var(--navbar-text-color);
    text-decoration: none;
    min-width: 130px;
    width: auto;
}
.nav_container {
    max-width: 5224px;
    width: 100%;
    margin: 0 auto;
}
.navbar {
    margin: 0 auto;
    width: 90%;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
}

.navbar-expand-md a {
    color: var(----navbarExpandA);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    padding: 8px;
}
select {
    background: var(--btn-small);
}
.pagination {
    display: flex;
    justify-content: center;
}

.nav-link:hover i,
.active_nav i {
    color: var(--navbar-text-hover);
}
/* .right{
    text-align: right;
} */
.hamburger {
    display: none;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 0.5rem;
}
.sea {
    border-radius: 500px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--hamburgerMenuIcon)
}
ul li ul {
    display: none;
}
ul li:hover ul {
    display: block;
    z-index: 999;
}
tr th {
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
}
tr td {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
td a {
    color: var(--tableDataAhref);
}
.FloatLeft {
    float: left;
}
.FloatRight {
    float: right;
}
/* END HEADER IMAGE , NAV BAR  */
.left {
    text-align: left;
}


.right {
    text-align: right;
}

@media (max-width: 880px) {
    /* HEADER NAVBAR, IMG, HAMBURGER */

    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        border-top: 1px solid var(--navMenuBorder);
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: var(--hamburger-menu-background);
        width: 100%;
        text-align: center;
        transition: 0.5s;
        z-index: 999;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }

    .dropDow.active .list {
        display: block;
    }
    ul li:hover .dropDown {
        display: block;
        position: relative;
        background-color: var(--hamburger-menu-background);
    }

    .logo {
        display: none;
    }
    .dropDown li {
        margin-left: 0px;
    }

}

/* END HEADER NAVBAR, IMG, HAMBURGER */

.nav-link:hover,
.active_nav {
    color: var(--navbar-text-hover);
    padding-bottom: 6px;
    border-bottom: solid 2px var(--navbar-box-hover);
    border-radius: 0 15px 0 15px;
}

/* Kad nerodytu number input rodykliu */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table_container::-webkit-scrollbar {
    display: none;
}

.table_container {
    width: 100vw;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    overflow: scroll;
    box-shadow: 0 0 20px var(--tableBoxShadow);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-top: 20px;
}

table {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    border-collapse: collapse;
    font-weight: 400;
    font-family: "Gill Sans", "Candara";
    table-layout: fixed;
}

thead,
tfoot {
    background-color: var(--theadTfootBG);
    color: var(--textWhite);
    text-align: left;
}

th:first-child {
    padding-left: 10px;
}

tbody tr {
    border-bottom: 1px solid var(--tbodyTr);
}

tr:last-child {
    border-bottom: none;
}
.bg-thead{
    background-color: var(--theadTfootBG);
    border: none;
}
.bg-thead p {
    margin: 0;
}
.bg-last{
    padding-top:0;
}
td,
th {
    width: auto;
    overflow: hidden;
    background: transparent;
    padding: 12px 2px 12px 2px;
}

td:first-child {
    padding-left: 10px;
}

.table_container tbody tr:nth-of-type(odd) {
    background-color: var(--tableContainerOddRow);
}
.table_container h3 {
    color: var(--tableContainerH3);
    padding-left: 5px;
}

input {
    max-width: 100%;

    text-align: right;
    border-radius: 2px;
    border: 0.2px solid;
    display: inline;
}

.copyright {
    width: 100%;
    text-align: center;
    opacity: 0.3;
    margin-top: 16px;
    margin-bottom: 16px;
}

.login-text input {
    text-align: left;
    border-radius: 3px;
    padding-left: 2px;
}

.news-container {
    margin: 0 auto;
    width: 90%;
    margin-top: 16px;
    padding-top: 0px;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 15px;
    grid-template-areas:
    "main main ." ". . .";


}
.news-button {
    margin: 0 auto;
    width: 90%;
    padding-top: 0px;
    display: grid;
    height: 100%;
    grid-gap: 15px 15px;

}
a{color: var(--aColor)}
a:hover {
    text-decoration: none;
}

.news-item {
    border: 1px solid var(--newItemBorder);
    padding: 50px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
}


.borderLeft {
    border-left: solid 1px var(--tableInsideBorders);
}
.borderRight {
    border-right: solid 1px var(--tableInsideBorders);
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .back-button, .forward-button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    /* cursor: pointer; */

  }

  .back-button:disabled, .forward-button:disabled {
    background-color: transparent;
    cursor: default;
  }
  .buttons button i {
    color: var(--buttonsBackForward);
    padding: 0;
  }
.postShowContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 16px;
    height: auto;
}

.postShowContainer small {
    top: 90%;
}
.postShowPost {
    border: 1px solid var(--newItemBorder);
    padding: 25px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.news-item:first-child {
    grid-area: main;
}

.news-item:hover {
    box-shadow:var(--newsItemBoxShadow);
    border: none;
}

.newsPhoto {
    margin: 0 auto;
    float: left;
    height: auto;

    width: 250px;
    margin-right: 10px;
    object-fit: contain;
    overflow: hidden;
    box-sizing: border-box;
}
.newsHeader {
    font-size: 24px;
    color: var(--newsHeader);
}
.newsText:hover {
    text-decoration: none;

}
.newsText {
    height: auto;
    text-align: justify;
    font-size: 16px;
    word-break: break-all;
    overflow-wrap: break-word;
    color: var(--newsTextColor);
    text-decoration: none;
    min-height: 160px;
    text-decoration: none;
}

.login-form {
    margin: 0 auto;
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-top: 15vh;
    box-shadow: 5px 5px var(--loginFormBoxShadow);
}

.login-form h3 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--loginFormH3);
}

.login-form form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .login-text {
    position: relative;
    border-bottom: 2px solid var(--loginText);
    margin: 30px 0;
}

.login-text input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.login-text label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--loginTextLabel);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.billing_table tbody tr td:nth-of-type(2) {
    text-align: right;
}
.billing_table thead tr td:nth-of-type(3) {
    width: 40px;
    padding-left: 20px;
}
i {
    color: var(--iconColor);
}

.login-text input:focus ~ label,
.login-text input:valid ~ label {
    top: -5px;
    color: var(--loginTextValidInput);
}

.btn,
.btn_reg {
    margin-top: 16px;
    width: 90%;
    height: 50px;
    border: 1px solid;
    background: var(--btn_reg);
    border-radius: 25px;
    font-size: 16px;
    color: rgb(255, 238, 238);
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 20px auto;
    margin-bottom: 20px;
    text-align: center;
    display: block;

}

.login-text input:nth-last-child(){
    margin-bottom: 50px;
}

.btn:hover,
.btn_reg:hover {
    box-shadow: var(--btn_regHover);
    border: none;
    transition: 0.5s;
}
.created_at {
    float: left;
    opacity: 0.5;
}

hr {
    margin: 3px;
}

.store-form {
    margin-top: 10vh;
}


@media only screen and (max-width: 768px),
    (min-device-width: 400px) and (max-device-width: 768px) {
    .check-btn {
        display: inline-block;
        width: 100%;
    }

    .small-grey {
        color: rgb(186, 180, 180);
    }

    .tabletransform1 table,
    .tabletransform1 thead,
    .tabletransform1 tbody,
    .tabletransform1 th,
    .tabletransform1 td,
    .tabletransform1 tr {
        display: block;
    }

    .tabletransform1 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tabletransform1 tr {
        border: 1px solid var(--tableTrasformTrBorder);
        margin-bottom: 10px;
        box-shadow: var(--tableTransformBoxShadow);
        border-radius: 10px;
        background-color: var(--tableTransformBackground);
    }

    .tabletransform1 td {
        border: none;
        border-bottom: var(--tableTransformTdBorder);

        position: relative;
        padding-left: 50%;
        text-align: center;
        z-index: auto;
    }
    .filter table {
        display: block;

      }
      .filter th,
      .filter td {
        display: inline-block;
      }
      .filter th {
        padding-bottom: 10px;

      }


    .tabletransform1 td::before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }

    .tabletransform1 td:last-child {
        border-bottom: none;
    }

    .tabletransform1 td:nth-of-type(6) {
        border-bottom: none;
    }

    .contact_info td:nth-of-type(1)::before {
        content: "Vardas";
    }

    .contact_info td:nth-of-type(2)::before {
        content: "El.paštas";
    }

    .contact_info td:nth-of-type(3)::before {
        content: "Telefonas";
    }

    .contact_info td:nth-of-type(4)::before {
        content: "Veiksmai";
    }

    .decl td:nth-of-type(1)::before {
        content: "Virtuve : ";
    }

    .decl td:nth-of-type(2)::before {
        content: "Nuo ";
    }

    .decl td:nth-of-type(3)::before {
        content: "Iki";
    }

    .decl td:nth-of-type(4)::before {
        content: "Skirtumas";
        border-bottom: none;
    }

    .decl1 td:nth-of-type(1)::before {
        content: "Vonia : ";
    }

    .hidn {
        display: none !important;
    }

    .tabletransform1 tbody tr:nth-of-type(odd) {
        background-color: #7bb4cc6a;
    }

    /* Postu sumazintas variantas */

    .news-container {
        grid-template-columns: 1fr;
        grid-template-areas: "main" ".";
    }
    .news-item {
        padding: 10px;
    }

    .newsPhoto {
        max-width: 40%;
        min-width: 200px;
    }

    /* Suspaustu lenteliu teksto pakeitimai */

    .pricelistInfo td:nth-of-type(1)::before {
        content: "Mėnuo";
    }
    .pricelistInfo td:nth-of-type(2)::before {
        content: "Šaltas vanduo";
    }
    .pricelistInfo td:nth-of-type(3)::before {
        content: "Karštas vanduo";
    }
    .pricelistInfo td:nth-of-type(4)::before {
        content: "Šildymas";
    }
    .pricelistInfo td:nth-of-type(5)::before {
        content: "Šil. mazgo priežiūra";
    }
    .pricelistInfo td:nth-of-type(6)::before {
        content: "Gyvatukas";
    }
    .pricelistInfo td:nth-of-type(7)::before {
        content: "Šalto vand. abonimentas";
    }
    .pricelistInfo td:nth-of-type(8)::before {
        content: "Elektra bendroms reikmėms";
    }
    .pricelistInfo td:nth-of-type(9)::before {
        content: "Ūkio išlaidos";
    }
    .pricelistInfo td:nth-of-type(10)::before {
        content: "Namo kaupimo fondas ";
    }
    .pricelistIndexFlat td:nth-of-type(1)::before {
        content: "Butas";
    }
    .pricelistIndexFlat td:nth-of-type(2)::before {
        content: "Mėnuo";
    }
    .pricelistIndexFlat td:nth-of-type(3)::before {
        content: "Šaltas vanduo";
    }
    .pricelistIndexFlat td:nth-of-type(4)::before {
        content: "Karštas vanduo";
    }
    .pricelistIndexFlat td:nth-of-type(5)::before {
        content: "Šildymas";
    }
    .pricelistIndexFlat td:nth-of-type(6)::before {
        content: "Šil. mazgo priežiūra";
    }
    .pricelistIndexFlat td:nth-of-type(7)::before {
        content: "Gyvatukas";
    }
    .pricelistIndexFlat td:nth-of-type(8)::before {
        content: "Šalto vand. abonimentas";
    }
    .pricelistIndexFlat td:nth-of-type(9)::before {
        content: "Elektra bendroms reikmėms";
    }
    .pricelistIndexFlat td:nth-of-type(10)::before {
        content: "Ūkio išlaidos";
    }
    .pricelistIndexFlat td:nth-of-type(11)::before {
        content: "Kompensacija";
    }
    .pricelistIndexFlat td:nth-of-type(12)::before {
        content: "Skola";
    }
    .pricelistIndexFlat td:nth-of-type(13)::before {
        content: "Permoka";
    }
    .pricelistIndexFlat td:nth-of-type(14)::before {
        content: "Delspinigiai";
    }
    .pricelistIndexFlat td:nth-of-type(15)::before {
        content: "Namo kaupimo fondas ";
    }
    .pricelistIndexFlat td:nth-of-type(16)::before {
        content: "Sąskaitos suma";
    }
    .pricelistIndexFlat td:nth-of-type(17)::before {
        content: "Apmokėta suma";
    }
    .declareInfo td:nth-of-type(1)::before {
        content: "Mėnuo";
    }
    .declareInfo td:nth-of-type(2)::before {
        content: "Butas";
    }
    .declareInfo td:nth-of-type(3)::before {
        content: "Virtuvė šaltas";
    }
    .declareInfo td:nth-of-type(4)::before {
        content: "Virtuvė karštas";
    }
    .declareInfo td:nth-of-type(5)::before {
        content: "Vonia šaltas";
    }
    .declareInfo td:nth-of-type(6)::before {
        content: "Vonia karštas";
    }
    .declareInfo td:nth-of-type(7)::before {
        content: "Vartotojas";
    }
    .declareInfo td:nth-of-type(8)::before {
        content: "Veiksmai";
    }
    .pricelistCreate td {
        padding-left: 0;

    }
    .userInfo td:nth-of-type(1)::before {
        content: "ID";
    }
    .userInfo td:nth-of-type(2)::before {
        content: "Vardas";
    }
    .userInfo td:nth-of-type(3)::before {
        content: "El.paštas";
    }
    .userInfo td:nth-of-type(4)::before {
        content: "Adresas";
    }
    .userInfo td:nth-of-type(5)::before {
        content: "Buto nr.";
    }
    .userInfo td:nth-of-type(6)::before {
        content: "Rolė";
    }
    .userInfo td:nth-of-type(7)::before {
        content: "Veiksmai";
    }
    .flatInfo td:nth-of-type(1)::before {
        content: "ID";
    }
    .flatInfo td:nth-of-type(2)::before {
        content: "Buto nr.";
    }
    .flatInfo td:nth-of-type(3)::before {
        content: "Buto kvadratūra";
    }
    .flatInfo td:nth-of-type(4)::before {
        content: "Gyvatuko mokamas procentas";
    }
    .flatInfo td:nth-of-type(5)::before {
        content: "Veiksmai";
    }
    .nkfInfo td:nth-of-type(1)::before {
        content: "ID";
    }
    .nkfInfo td:nth-of-type(2)::before {
        content: "Namas";
    }
    .nkfInfo td:nth-of-type(3)::before {
        content: "Aprašymas";
    }
    .nkfInfo td:nth-of-type(4)::before {
        content: "Tipas";
    }
    .nkfInfo td:nth-of-type(5)::before {
        content: "Suma";
    }
    .nkfInfo td:nth-of-type(6)::before {
        content: "Veiksmai";
    }
    .permissionInfo td:nth-of-type(1)::before {
        content: "ID";
    }
    .permissionInfo td:nth-of-type(2)::before {
        content: "Pavadinimas";
    }
    .permissionInfo td:nth-of-type(3)::before {
        content: "Guard";
    }
    .permissionInfo td:nth-of-type(4)::before {
        content: "Veiksmai";
    }
    .roleInfo td:nth-of-type(1)::before {
        content: "ID";
    }
    .roleInfo td:nth-of-type(2)::before {
        content: "Pavadinimas";
    }
    .roleInfo td:nth-of-type(3)::before {
        content: "Veiksmai";
    }


}
